BREVO_API_KEY=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
MYSQL_PASS=drivefitt12345
MYSQL_PORT=3306
DB_HOST=drivefitt.cf8ae4q4e0jo.ap-south-1.rds.amazonaws.com
DB_USER=admin
DB_PASSWORD=drivefitt12345
DB_NAME=drivefitt
DB_PORT=3306
MYSQL_HOST=drivefitt.cf8ae4q4e0jo.ap-south-1.rds.amazonaws.com
MYSQL_DB=drivefitt
MYSQL_USER=admin
GITHUB_USER_NAME=aasthapandey
GITHUB_USER_EMAIL=aasthapandeyb@gmail.com
SENDER_EMAIL=alerts@drivefitt.club
NOTIFICATION_EMAIL=sahyldua@gmail.com
FRANCHISE_NOTIFICATION_EMAIL=sahyldua@gmail.com
NEXT_PUBLIC_GA_ID=G-N16N0J7RMQ