@tailwind base;
@tailwind components;
@tailwind utilities;

.evolutionCarousel {
  .custom-dots {
    bottom: -40px !important;
  }
  .custom-dots li {
    margin: 0;
  }
  .custom-dots li div {
    width: 10px !important;
    height: 4px !important;
    border-radius: 10px !important;
  }
  .custom-dots li.slick-active div {
    background-color: white !important;
  }
}

.evolution-background {
  background-size: contain !important;
}
@media (min-width: 768px) {
  .evolution-background {
    background-size: cover !important;
  }
}
